body {
  /* font-family: sans-serif; */
  /* margin: 10px; */
}

h1 {
  font-size: 8vw;
  font-family: BC Alphapipe;
  text-align: center;
}

#squaresContainer {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
}

.square {
  width: 80px;
  height: 80px;
  margin: 1px;

  border-radius: 20px;
  text-align: center;
  color: white;
}

#showHide {
  display: flex;
  justify-content: center;
  margin: 50px;
}

#buttonsContainer {
  display: flex;
  /* flex-flow: row wrap; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

button {
  height: 30px;
  width: 60px;
  border-radius: 20px;
  margin: 1px;
  cursor: pointer;
}
